.gradle
bin
Reports
output
!output/.gitkeep
.classpath
.project
gradlew
gradle.bat
/gradle
*.iml
.idea
/.settings/
/.cache
/Libs/
*.log
local.properties
.DS_Store
Include/.DS_Store
Include/file/.DS_Store